body {
    height: 100vh;
    align-content: center;
    place-items: center;
    font-family: 'cursive', monospace;
    background-image: url('./assets/images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center right;
}

@font-face {
    font-family: 'digital-7';
    src: local('Digital-7'),
        url('./assets/fonts/digital-7.woff2') format('woff2'),
        url('./assets/fonts/digital-7.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.container {
    width: 30%;
    box-shadow: 1px 0 10px rgba(0, 0, 0, 0.4);
    padding: 25px;
    border-radius: 15px;
    background-color: rgba(86, 86, 86, 0.4);
    place-items: center;
}

h3 {
    font-family: 'digital-7', cursive;
    letter-spacing: 2px;
    text-align: center;
    color: #1591f0;
    font-size: 28px;
}

label {
    color: #c2dcef;
    display: flex;
    font-size: 18px;
    justify-content: center;
}

input[type="number"] {
    padding: 10px;
    border-radius: 10px;
    border: solid #67bdff 3px;
    width: 80%;
}

button {
    padding: 10px 20px;
    border: none;
    color: darkgreen;
    font-weight: 600;
    font-size: 15px;
    background-color: yellowgreen;
    border-radius: 5px;
    position: relative;
    left: 50%;
    transform: translatex(-50%);
    cursor: pointer;
}

.result {
    color: darkgreen;
    font-weight: 600;
}